.site-header{
background-color:red;
color:rgb(206, 26, 26);
height: 100vh;
font-family: monospace;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.site-header-content{
    margin: 10px;
}
.profile-pic{
    align-self: center;
    border-radius: 50%;
    height:20px;
    width: 200px;
}
body{
    margin:0;
}